<div class="flex flex-row justify-between items-center bg-indigo-950">
  <div class="flex flex-col items-center p-2 w-40">
    <div>
      <img
        [routerLink]="['/PainelPessoas']"
        src="assets/logo_pjcmt.png"
        alt="logo-pjcmt"
        height="60"
        width="60"
        class="cursor-pointer"
      />
    </div>

    <div class="text-white text-xs">Polícia Judiciária Civil</div>
    <div class="text-white text-xs">Mato Grosso</div>
  </div>

  <div
    class="flex flex-col items-center uppercase text-white text-2xl font-bold md:text-4xl lg:text-5xl"
  >
    <div>Pessoas</div>
    <div>Desaparecidas</div>
  </div>

  <div class="flex flex-col items-center text-white p-4">
    <div class="text-2xl font-bold">
      {{ dataAtual }}
    </div>

    <div class="border-2 mt-2 mb-2 w-full"></div>

    <div>Desaparecidos: {{ nrDesaparecidos }}</div>
    <div>Localizados: {{ nrLocalizados }}</div>
  </div>
</div>
