<div
  class="p-3 w-72 h-60 bg-white rounded-lg shadow-md uppercase"
  [ngClass]="{
    '!bg-green-300': dadosPessoa.ultimaOcorrencia.dataLocalizacao,
    '!bg-red-400': !dadosPessoa.ultimaOcorrencia.dataLocalizacao,
  }"
>
  <div class="flex justify-center -mt-2">
    <img
      class="object-cover rounded-lg h-32"
      [src]="dadosPessoa.urlFoto"
      (error)="onErroCarregarImagem($event)"
      alt="foto"
    />
  </div>

  <div class="flex flex-col items-center justify-center">
    <div class="text-center text-sm mt-1 font-semibold">
      {{ dadosPessoa.nome }}
    </div>

    <!-- se localizado -->
    @if (dadosPessoa.ultimaOcorrencia.dataLocalizacao) {
    <div class="text-center text-xs">
      Localização em:
      {{ dtLocalizacao }}
    </div>

    <div class="text-center text-xs">
      Encontrado Vivo:
      {{ dadosPessoa.ultimaOcorrencia.encontradoVivo ? "SIM" : "NÃO" }}
    </div>
    }

    <!-- se desparecido -->
    @if (!dadosPessoa.ultimaOcorrencia.dataLocalizacao) {
    <div class="text-center text-xs">
      Desaparecimento em:
      {{ dtDesaparecimento }}
    </div>

    <div class="text-center text-xs">
      Local:
      {{ dadosPessoa.ultimaOcorrencia.localDesaparecimentoConcat }}
    </div>

    }
  </div>
</div>
