<div
  class="p-3 w-48 h-60 bg-white rounded-lg shadow-md uppercase"
  [ngClass]="{
    '!bg-green-300': dadosPessoa.ultimaOcorrencia.dataLocalizacao,
    '!bg-red-400': !dadosPessoa.ultimaOcorrencia.dataLocalizacao,
  }"
>
  <div class="flex justify-center">
    <img
      class="object-cover rounded-lg h-32"
      [src]="dadosPessoa.urlFoto"
      alt="foto"
    />
  </div>

  <div class="flex flex-col items-center justify-center">
    <div class="text-center text-sm mt-1 font-semibold">
      {{ dadosPessoa.nome }}
    </div>

    <!-- se localizado -->
    @if (dadosPessoa.ultimaOcorrencia.dataLocalizacao) {
    <div class="text-center text-xs">
      <div>Localização em:</div>
      {{ dtLocalizacao }}
    </div>
    }

    <!-- se desparecido -->
    @if (!dadosPessoa.ultimaOcorrencia.dataLocalizacao) {
    <div class="text-center text-xs">
      <div>Desaparecimento em:</div>
      {{ dtDesaparecimento }}
    </div>

    }
  </div>
</div>
