<div>
  <mat-paginator
    [length]="length"
    [pageIndex]="currentPage"
    [pageSize]="pageSize"
    (page)="paginacao($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>

<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5"
>
  @for (pessoa of listaPessoas; track $index) {

  <app-card-pessoa class="mx-auto" [dadosPessoa]="pessoa"></app-card-pessoa>

  }
</div>

<div>
  <mat-paginator
    [length]="length"
    [pageIndex]="currentPage"
    [pageSize]="pageSize"
    (page)="paginacao($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
