<!-- mostra carregando enquanto nao possui dados -->
@if (carregando) {
<div class="mt-1">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<div class="p-5 font-medium text-lg tracking-wide">
  Buscando dados, aguarde um momento...
</div>
}

<!-- lista pessoas desaparecidas -->
@if (!carregando && listaPessoas) {
<div class="flex flex-col justify-between h-full">
  <div class="flex flex-row justify-between bg-white w-full">
    <div class="flex flex-row justify-center items-center ml-5">
      <button
        type="button"
        mat-raised-button
        class="!bg-blue-800 !text-white hover:!bg-blue-600"
        (click)="mostraFiltro()"
      >
        <mat-icon>filter_alt</mat-icon>
        Filtrar
      </button>
    </div>

    @if (filtrando) {
    <div class="flex flex-row justify-center items-center ml-5">
      <button
        type="button"
        mat-raised-button
        class="!bg-green-700 !text-white hover:!bg-green-500"
        (click)="limpaFiltro()"
      >
        <mat-icon>filter_alt_off</mat-icon>
        Limpa Filtro
      </button>
    </div>
    }

    <div>
      <mat-paginator
        [length]="length"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        (page)="paginacao($event)"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>

  <div class="text-center mt-2">
    Clique em alguma foto abaixo para ver mais detalhes sobre o caso:
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-8 m-5"
  >
    @for (pessoa of listaPessoas; track $index) {

    <app-card-pessoa
      [routerLink]="['/DetalhamentoCaso', pessoa.id]"
      class="mx-auto transition duration-300 ease-in-out hover:scale-110 hover:shadow-2xl cursor-pointer"
      [dadosPessoa]="pessoa"
    ></app-card-pessoa>

    }
  </div>

  <div class="flex flex-grow"></div>

  <div class="w-full">
    <mat-paginator
      class="bg-red-500"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      (page)="paginacao($event)"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
}

<!-- caso não encontre nenhuma pessoa no cadastro -->
@if (!carregando && !length) {
<div class="p-5">Nenhuma Pessoa Desaparecida encontrada.</div>
}
