<!-- mostra carregando enquanto nao possui dados -->
@if (carregando) {
<div class="mt-1">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<div class="p-5 font-medium text-lg tracking-wide">
  Buscando dados, aguarde um momento...
</div>

}

<!-- lista pessoas desaparecidas -->
@if (!carregando && listaPessoas) {
<div class="flex flex-col justify-between h-full bg-gray-100">
  <div class="w-full">
    <mat-paginator
      [length]="length"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      (page)="paginacao($event)"
      showFirstLastButtons
    ></mat-paginator>
  </div>

  <div class="text-center mt-2">
    Clique em alguma foto abaixo para ver mais detalhes sobre o caso:
  </div>

  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-5 m-5"
  >
    @for (pessoa of listaPessoas; track $index) {

    <app-card-pessoa
      [routerLink]="['/DetalhamentoCaso', pessoa.id]"
      class="mx-auto transition duration-300 ease-in-out hover:scale-110 hover:shadow-2xl cursor-pointer"
      [dadosPessoa]="pessoa"
    ></app-card-pessoa>

    }
  </div>

  <div class="flex flex-grow"></div>

  <div class="w-full">
    <mat-paginator
      class="bg-red-500"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      (page)="paginacao($event)"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
}

<!-- caso não encontre nenhuma pessoa no cadastro -->
@if (!carregando && !length) {
<div class="p-5">Nenhuma Pessoa Desaparecida encontrada.</div>
}
